---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - directory: "/"
    package-ecosystem: "terraform"
    schedule:
      interval: "weekly"
